/******************************************************************************
* 
* Copyright (c) 2009 Freescale Semiconductor;
* All Rights Reserved                       
*
*******************************************************************************
*
* THIS SOFTWARE IS PROVIDED BY FREESCALE "AS IS" AND ANY EXPRESSED OR 
* IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES 
* OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.  
* IN NO EVENT SHALL FREESCALE OR ITS CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
* INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES 
* (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR 
* SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) 
* HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, 
* STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING 
* IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF 
* THE POSSIBILITY OF SUCH DAMAGE.
*
***************************************************************************//*!
*
* @file      d4dlcdhw_gpio6800_8b_cfg.h.example
*
* @author    b01119
* 
* @version   0.0.2.0
* 
* @date      May-7-2010
* 
* @brief     D4D low level driver SSD1289 hardware level LCD header configuration file 
*
*******************************************************************************/

#ifndef __D4DLCDHW_GPIO6800_8B_CFG_H
#define __D4DLCDHW_GPIO6800_8B_CFG_H

  /******************************************************************************
  * includes
  ******************************************************************************/
  
  #include "derivative.h"       /* include peripheral declarations and more for S08 and CV1 */
  //#include "support_common.h" /* include peripheral declarations and more for CV2 */


  /******************************************************************************
  * Constants
  ******************************************************************************/
  

  //#define D4DLCD_DISPLAY_MCU_USER_INIT;
  
  /*******************************************
  * Signals definition
  *******************************************/
  #define D4DLCD_CS              2         // CS   
  #define D4DLCD_CS_PORT         PTFD      // CS 
  #define D4DLCD_CS_DDR          PTFDD     // CS    

  #define D4DLCD_DC              3         // DC 
  #define D4DLCD_DC_PORT         PTFD      // DC 
  #define D4DLCD_DC_DDR          PTFDD     // DC 
    

  // I/O port CONFIG for parallel transfer

  #define D4DLCD_DATA            PTBD      // 8bit bus
  #define D4DLCD_DATA_DDR        PTBDD     // 8bit bus DDR 
  #define D4DLCD_DATA_PE         PTBPE     // 8bit bus PE 

  #define D4DLCD_WR              5         // WRITECLOCK        
  #define D4DLCD_WR_PORT         PTFD      // WRITECLOCK        
  #define D4DLCD_WR_DDR          PTFDD     // WRITECLOCK     

  #define D4DLCD_E              4         // READCLOCK
  #define D4DLCD_E_PORT         PTFD      // READCLOCK
  #define D4DLCD_E_DDR          PTFDD     // READCLOCK

  #define D4DLCD_RESET           3         // RESET     
  #define D4DLCD_RESET_PORT      PTCD      // RESET     
  #define D4DLCD_RESET_DDR       PTCDD     // RESET  
  
  //#define D4DLCD_BACKLIGHT       0         // BACKLIGHT 
  //#define D4DLCD_BACKLIGHT_PORT  PTCD      // BACKLIGHT 
  //#define D4DLCD_BACKLIGHT_DDR   PTCDD     // BACKLIGHT 

  
  /*********** Power macros - for modification uncoment and modify ***********/
  
  //#define D4DLCD_INIT_CS OUTPUT(D4DLCD_CS);
  //#define D4DLCD_ASSERT_CS RESET(D4DLCD_CS);
  //#define D4DLCD_DEASSERT_CS SET(D4DLCD_CS);
  
  //#define D4DLCD_INIT_DC OUTPUT(D4DLCD_DC);
  //#define D4DLCD_ASSERT_DC RESET(D4DLCD_DC);
  //#define D4DLCD_DEASSERT_DC SET(D4DLCD_DC);
  
  //#define D4DLCD_INIT_RD OUTPUT(D4DLCD_E);
  //#define D4DLCD_ASSERT_RD RESET(D4DLCD_E);
  //#define D4DLCD_DEASSERT_RD SET(D4DLCD_E);
  
  //#define D4DLCD_INIT_WR OUTPUT(D4DLCD_WR);
  //#define D4DLCD_ASSERT_WR RESET(D4DLCD_WR);
  //#define D4DLCD_DEASSERT_WR SET(D4DLCD_WR);
   
  //#define D4DLCD_INIT_DATA OUTPUT_ALL(D4DLCD_DATA);
  
  //#define D4DLCD_INIT_RESET OUTPUT(D4DLCD_RESET);
  //#define D4DLCD_ASSERT_RESET RESET(D4DLCD_RESET);
  //#define D4DLCD_DEASSERT_RESET SET(D4DLCD_RESET);
  


#endif /* __D4DLCDHW_GPIO6800_8B_CFG_H */










